@import url(http://adapt.960.gs/assets/css/960.css);

.all{
    margin: 1em;
	height: 400px;
	width: 700px;
	background-color: #bfdecd;
/*    #F1CF89;*/
	font-family: Verdana ;
	color: #423E4C ;
	position: relative;

}

.title {
    margin: 0 0 0 2em;
}

#add_name {
    color: gray;
    margin-bottom: 20px;
    width: 650px;
    clear: both;
}

#add_name p {
    font-size: 1.1em;
    border-width: 1px;
    border-style: outset;
    display: inline-block;
    margin: 0;
}


#add_name p::first-letter {
    visibility:hidden;
}

#add_name p::after { 
    content: "\00a0\00a0";
}

.add_list {
    margin-left: 2em;
    clear: both;
}

.addfood {
    /*    overflow: auto;*/
    margin: 0 0 0 2em;
    width: 90%;
    height: 80%;
    background-color: rgba(255,255,255,0.6);
/*    #b8b789;*/
    border-radius: 20px;
/*    border: 5px solid #fff;*/
}

.food_class2 {
    margin: 1em;
    width: 90%;
    
    background-color: rgba(255,255,255,0.6);
/*    #ded7ad;*/
    border-radius: 5px;
/*    border: 5px solid #dfd0b7;*/
/*    solid #fff;*/
}
